.work-canvas-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: #F3F4F6;
     background-image: linear-gradient(to right, #ececec 1px, transparent 1px), linear-gradient(to bottom, #ececec 1px, transparent 1px);
     background-size: 20px 20px;
     width: 65%;
     padding: 50px;
     overflow: scroll;
     position: relative;
}
.canvas-drop-zone {
     background-color: white;
     border-radius: 12px;
     min-height: 100%;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


/* Component Style */
.test-component {
     transition: all 0.1s ease;
}
.test-component:hover {
     outline: 3px dashed var(--red-300);
     outline-offset: 2px;
}

.component-drag {
     position: absolute;
     top: 5px;
     right: 10px;
     cursor:move;
}
.component-drag:active {
     cursor: grabbing;
}